@using Microsoft.AspNetCore.Identity
@using ForumSystem.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole(ForumSystem.App.Common.GlobalConstants.AdminstrationRoleName))
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img src="~/css/icons/icons8-admin-settings-male (1).svg" /> @User.Identity.Name
                </a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img src="~/css/icons/icons8-user-male.svg" /> @User.Identity.Name
                </a>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-light"><img src="~/css/icons/icons8-logout-rounded-down.svg" /> Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register"><img src="~/css/icons/icons8-registration.svg" />Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login"><img src="~/css/icons/icons8-login.svg" \ /> Login</a>
        </li>
    }
</ul>
